include README.md
include LICENSE
include NOTICE
include CHANGELOG.md
include CONTRIBUTING.md
include plugin.yaml
recursive-include src *.py
recursive-include tests *.py
recursive-include .github/workflows *.yml
